:root{
    --color2:white;
    --color:pink;
    --color1:black;
}
#logo{
    width: 90%;
}
header{
    background-color:var(--color2);
    position: sticky;
    top: 0px;
}
header div{
    display: flex;
    font-family: Varela Round;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header  li{
    transition: all 5s;
}
header li :hover{
            color: hotpink;
            font-size: 18px;
}
header nav{
    width: 80%;
    padding-right: 25%;
}
body{
    direction: rtl;
}
main{
    background:var(--color);
    display: flex;
    font-family: Varela Round;
    flex-direction: column;
    text-align: center;
}
#hamain{
    display: flex;
    flex-direction: column;
}
#hamain div{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
}
.product{
    width: 29%;
    background-color:var(--color2);
    border-radius: 9%;
    border: 1px solid;
    font-size: 20px;
    transition: all 0.7s;
}
.product:hover{
    opacity: 65%;
    border: 4px solid;
}
.product img{
    width: 60%;
}
.product div{
    padding-top: 15%;
}
footer{
    display: flex;
    font-family: Varela Round;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}
footer nav{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
footer div{
    width: 60%;
}
a{
    text-decoration: none;
    color: var(--color1);
    text-align: center;
}
.logoF{
    direction: ltr;
}
#perspic{
    width: 30%;
}
#adi {
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    justify-content: space-between;
    border-radius: 15%;
    border: 1px solid;
}
footer a{
    transition: all 1s;
}
footer a:hover{
    color: hotpink;
    font-size: 18px;
}
li{
    list-style-type: none;
    margin: 1%;
}
#negishut{
    border-radius: 100%;
    background-color: rgb(234, 114, 174);
    width: 100px;
    height: 100px;
    margin: 10px;
    position:fixed;
    left:0.1px;
    top:80%;
}
h2{
    font-size: 32px;
}
button{
    background-color: rgb(243, 220, 224);
    border: 2px palevioletred solid;
    border-radius: 20%;
    font-family: Varela Round;
}
.fa-wheelchair{
    color: var(--color1);
    text-align: center;
    font-size: 50px;
    padding-top: 25%;
}
.dropdown{
    position:relative;
    display: block;
}
.dropdown-content{
    position: absolute;
    background-color:var(--color2);
    display: none;
    max-width: 200px;
}
.dropdown-content a{
    color: var(--color1);
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color:var(--color2);
    font-size: 20px;
}
.dropdown:hover .dropdown-content{
    display:block;
}
#sni div{
    width: 22%;
    background-color: rgb(243, 224, 233);
    margin:20px;
}
#sni{
    display: flex;
    flex-direction:row;
    margin:15px;
}
#hidehead{
    display: none;
}
.fa-shopping-cart{
    content: "\f07a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.fa-phone{
    content: "\f095";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
@media(max-width:500px){
    #hidehead{
        display: flex;
    }
    .fa-bars{
        font-size: 40px;
    }
    header nav{
        display: none;
    }
    .logoF{
        width: 700px;
        height: 80px;
    }
    #negishut{
        width: 60px;
        height: 60px;
        margin: 7px;
        position:fixed;
        left:0.1px;
        top:80%;
    }
    .fa-wheelchair{
        text-align: center;
        font-size: 30px;
        padding-top: 25%;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 15px;
    }
    #sni{
        display: flex;
    flex-direction:column;
     margin:15px;
     align-items: center;
    }
    #sni div{
        width: 80%;
    }
}
@media(min-width:500px) and (max-width:760px){
    #hidehead{
        display: flex;
    }
    .fa-bars{
        font-size: 40px;
    }
    header nav{
        display: none;
    }
    .logoF{
        width: 400px;
        height: 80px;
        position: fixed;
        top: 0%;
        left: 0%;
    }
    #negishut{
        width: 85px;
        height: 85px;
        margin: 7px;
        position:fixed;
        left:0.1px;
        top:80%;
    }
    .fa-wheelchair{
        text-align: center;
        font-size: 40px;
        padding-top: 25%;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 15px;
    }
    #sni{
        display: flex;
        flex-direction:column;
        margin:15px;
        align-items: center;
    }
    #sni div{
        width: 80%;
    }
}
@media(min-width:761px) and (max-width:980px){
    .logoF{
        width: 50%;
        height: 50%;
    }
    header nav ul{
        padding-left: 0%;
        display: flex;
        justify-content:end ;
        flex-wrap: nowrap;
        text-align: center;
    }
    header nav{
        width: 100%;
        display: flex;
        justify-content:start ;
        flex-wrap: nowrap;
    }
    #negishut{
        width: 85px;
        height: 85px;
        margin: 7px;
        position:fixed;
        left:0.1px;
        top:80%;
    }
    .fa-wheelchair{
        text-align: center;
        font-size: 40px;
        padding-top: 25%;
    }
}
@media(min-width:1700px) and (max-width:2560px){
    .logoF{
        width: 50%;
        height: 50%;
    }
    header nav ul{
        flex-wrap: nowrap;
        text-align: center; 
        font-size: 32px;
    }
    header nav{
        width: 100%;
        display: flex;
        justify-content:start ;
        flex-wrap: nowrap;
    }
    #negishut{
        width: 150px;
        height: 150px;
        margin: 9px;
        position:fixed;
        left:1%;
        top:80%;
    }
    .fa-wheelchair{
        text-align: center;
        font-size: 80px;
        padding-top: 25%;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    .product{
        width: 29%;
        background-color:var(--color2);
        border-radius: 9%;
        border: 1px solid;
        font-size: 32px;
    }
    footer{
        font-size: 27px;
    }
    #sni{
        font-size: 36px;
        justify-content: space-around;
    }
}
.fa-arrow-down{
content: "\f063";
font-family: "Font Awesome 6 Free";
font-weight: 900;
}
.fa-home{
    content: "\f015";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
